table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: auto;
}

body {
    background-color: #ffffcd;
}

body {
    background-color: #ffffcd;
}

.remove {
    background-color: #d4a5e6;
    cursor: pointer;
}

.highlight {
    background-color: #6dfc6d;
    cursor: pointer;
    animation: pulse 1s infinite;
    border-radius: 3px;
}

.selected {
    background-color: #ff9e80;
    border-radius: 3px;
    animation: pulsebg 1s infinite alternate;
}

.mill {
    background-color: #6bd1ff;
    border-radius: 3px;
}

@keyframes pulse {
    0% { opacity: 0.9; }
    50% { opacity: 1; }
    100% { opacity: 0.9; }
}

@keyframes pulsebg {
    0% { background-color: #ff9e80; }
    50% { background-color: #ff8a6e; }
    100% { background-color: #ff9e80; }
}

#egy {
    position: absolute;
    right: 10px;
    top: 10px;
}

#ketto {
    position: absolute;
    left: 10px;
    top: 10px;
}

input {
  background-color: rgba(51, 51, 51, 0.45);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

td {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

p {
    margin-bottom: 5px;
}

div {
    text-align: center;
    font-size: 1.55em;
}

.piece, .circle, .line {
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-drag: none;
    display: block;
}

/* @keyframes pulse {
    0% { background-color: #8bc34a; }
    50% { background-color: #7cb342; }
    100% { background-color: #8bc34a; }
}

@keyframes pulsebg {
    0% {
        background-color: #c03e16;
    }
    100% {
        background-color: #ff7043;
    }
} */
